<!DOCTYPE html>
<html lang="en-es">

<%- include('../partials/head', {titleWeb: 'Catalogo' }) %>

  <body>
    <!-- ------------ Comienzo del HEADER  -->
    <%- include('../partials/header') %>
      <!-- ------------ fin del HEADER  -->

      <!-- VER COMO SEPARLOS  -->
      <!-- ------------ inicio del main CATALOGO  -->
      <main class="main-catalogo">
        <h2>catalogo completo</h2>
        <section>
          <% products.forEach(function(product){ %>
            <article>
              <a href="/products/detail/<%= product.id %>">
                <img src="/images/products/<%= product.image %>" alt="imagen de producto" />
              </a>
              <div class="info-producto">
                <div class="products-description">
                  <p class="descripcion">
                    <%= product.name %>
                  </p>
                </div>
              </div>

            </article>
            <% }) %>
        </section>
      </main>

      <!-- ------------ fin del main CATALOGO  -->

      <!-- ------------ comienzo del FOOTER  -->
      <%- include('../partials/footer') %>

        <!-- ------------ Fin del FOOTER  -->
  </body>

</html>

</body>

</html>