<!DOCTYPE html>
<html lang="es"></html>

<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/styles-productsCreateForm.css">


    <%- include('../partials/head', {titleWeb: 'Formulario Creación Nuevo Producto', cssSheet:'styles-productsCreateForm'}) %>

    <body>
      <!-- ------------ Comienzo del HEADER  -->
      <%- include('../partials/header') %>
  <!-- ------------ Fin del HEADER  -->
  <!-- ------------ Inicio del Formulario de Creación de Producto  -->

	<h2 class="product-title">Editar Producto <%= productToEdit.name%></h2>
    <form action="/products/productsEditForm/<%=productToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="control-form">
              <label for="name"> Nombre del Producto </label>
              <input type="text" name="name" id="name" class="control" value="<%= productToEdit.name %>">
            </div>
            <div class="control-form">
                <label for="description"> Descripción </label>
                <input type="text" name="description" id="description" class="control" value="<%= productToEdit.description %>">
              </div>
            <div class="control-form">
              <label for="price"> Precio </label>
              <input type="number" name="price" id="price" class="control" value="<%= productToEdit.price %>">
            </div>
            <div class="control-form">
                <label for="discount"> Descuento </label>
                <input type="number" name="discount" id="discount" class="control" value="<%= productToEdit.discount %>">
              </div>
            <div class="control-form">
              <p>Medidas</p>
              <label class="list-options">80 x 60 CM
                <input type="checkbox" name="size" id="size" value="60 x 80 CM"></label>
              <label>60 x 40 CM
                <input type="checkbox" name="size" id="size" value="60 x 40 CM"></label>
            </div>
            <div class="control-form">
                <label for="category" class="control">Categoría></label>
                <select name="category" id="category" class="control">
                <option value="" selected disabled>Elegí</option>
                <option value="novedad">Nuestras Novedades</option>
                <option value="en oferta">En Oferta</option>
                <!-- <option value="limitedEdition">Edición Limitada</option> -->
            </select>
            </div>
            <div class="control-form">
              <label for="productImage"> Imagen del producto</label>
              <input type="file" name="productImage" id="productImage" class="control" value="<%= productToEdit.productImage %>">
            </div>

            <div class="control-form">
              <button href='' type="submit" class="button-form" value="Editar">Guardar Cambios</button>
            </div>
        
          </form>-->

	<!-- footer -->
    <%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>