<!DOCTYPE html>
<html lang="es"></html>

<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/styles-productsCreateForm.css">


    <%- include('../partials/head', {titleWeb: 'Formulario Creación Nuevo Producto', cssSheet:'styles-productsCreateForm'}) %>

    <body>
      <!-- ------------ Comienzo del HEADER  -->
      <%- include('../partials/header') %>
  <!-- ------------ Fin del HEADER  -->
  <!-- ------------ Inicio del Formulario de Creación de Producto  -->

	<h2 class="product-title">Crear nuevo Producto</h2>
    <form class = "productCreationForm" action="/products/" method="POST" enctype="multipart/form-data" id="productCreationForm">
      <ul class="errors" id="errors">
      </ul>

      <div class="control-form">
              <label for="name"> Nombre del Producto Nuevo </label>
              <input type="text" name="name" id="name" class="control"  value="<%= locals.errors && errors.name ? 'is-invalid' : null %>" placeholder="Ingrese el nombre del producto">

              <% if (locals.errors && errors.name) { %>
                <div class="text-alert">
                  <%= errors.name.msg %>
                </div>
                <% } %>
              
            </div>
          
            <div class="control-form">
                <label for="description"> Descripción </label>
                <input type="text" name="description" id="description" class="control" value="<%= locals.errors && errors.description ? 'is-invalid' : null %>" placeholder="Ingrese la descripción del producto">

                <% if (locals.errors && errors.description) { %>
                  <div class="text-alert">
                    <%= errors.description.msg %>
                  </div>
                  <% } %>
              </div>
              </div>
            <div class="control-form">
              <label for="price"> Precio </label>
              <input type="number" name="price" id="price" class="control"> 
            </div>
            <div class="control-form">
                <label for="discount"> Descuento </label>
                <input type="number" name="discount" id="discount" class="control">
              </div>

            <div class="control-form">
                <label for="category" class="control"> Categoría </label>
                <select name="category" id="category" class="control">
                <option value="">Elegí</option>
                <% categories.forEach(category => { %>
                  <option value="<%= category.id %> "><%= category.category %> </option>
                <% }) %>
                <!--<option value="1">Cine</option>
                <option value="2">En Oferta</option>
                <option value="3">Prueba</option>-->
                <!-- <option value="limitedEdition">Edición Limitada</option> -->
            </select>
            </div>
            <div class="control-form">
              <label for="productImage"> Imagen del producto</label>
              <input type="file" name="productImage" id="productImage" class="control" value="<%=locals.errors && errors.productImage ? 'is-invalid'
              : null %>">

            <% if (locals.errors && errors.productImage) { %>
              <div class="text-alert">
                <%= errors.productImage.msg %>
              </div>
              <% } %>
            </div>

            <div class="control-form">
              <button href='' type="submit" class="button-form" value="create">Guardar Producto</button>
            </div>
        
          </form>

	<!-- footer -->
  <%- include('../partials/footer') %>
	<!-- /footer -->
  <script src="/js/validationProduct.js"></script>
</body>	
</html>