<!DOCTYPE html>
<html lang="en-es">
<%- include('partials/head', {titleWeb: 'Bienvenidxs a HIGGE' }) %>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

  <body>
    <!-- ------------ Comienzo del HEADER  -->
    <%- include('partials/header') %>

      <!-- ------------ Fin del HEADER  -->
      <!-- Swiper -->
      <div class="swiper-container">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/carrousel/slide-1d.png" alt="slider 1"></div>
            <div class="swiper-slide"><img src="/images/carrousel/slide-2d.png" alt="slider 2"></div>
            <div class="swiper-slide"><img src="/images/carrousel/slide-3d.png" alt="slider 3"></div>
            <div class="swiper-slide"><img src="/images/carrousel/slide-4d.png" alt="slider 4"></div>
            <div class="swiper-slide"><img src="/images/carrousel/slide-5d.png" alt="slider 5"></div>
          </div>
         <!--  <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div> -->
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- ------------ comienzo del MAIN  -->
      <main>

        <h2>nuestros elegidos</h2>

        <!-- Se recorre el JSON de manera tal que muestre aquellos productos que son 'novedad' para mostrar en index -->
        <section>

          <% newArrivals.forEach(function(product){ let finalPrice=(product.price * ((100 - product.discount) /
            100)).toFixed(0) %>
            <article>
              <a href="/products/detail/<%= product.id %>">
                <img src="/images/products/<%= product.image %>" alt="imagen de producto" /></a>
              <div class="info-producto">
                <div class="products-description">
                  <p class="descripcion">
                    <%= product.name %>
                  </p>
                  <p class="precios">$ <%= product.price %>
                  </p>
                </div>
              </div>
            </article>
            <% }) %>

        </section>

        <!-- Se recorre el JSON de manera tal que muestre aquellos productos que son 'oferta' para mostrar en index -->
        <h2>En oferta</h2>
        <section>
          <% inOffer.forEach(function(product){ let finalPrice=(product.price * ((100 - product.discount) /
            100)).toFixed(0) %>
            <article>
              <a href="/products/detail/<%= product.id %>">
                <img src="/images/products/<%= product.image %>" alt="imagen de producto" /></a>
              <div class="info-producto">
                <div class="products-description">
                  <p class="descripcion">
                    <%= product.name %>
                  </p>
                  <p class="precios-discount">$ <%= product.price %>
                  </p>
                  <span>
                    <%= product.discount %> %OFF
                  </span>
                  <h2>$<%= finalPrice %>
                  </h2>
                </div>
              </div>
            </article>
            <% }) %>
        </section>
      </main>

      <!-- ------------ Fin del MAIN  -->

      <!-- ------------ comienzo del banner divisor y FOOTER  -->
      <%- include('partials/footer') %>

        <!-- ------------ Fin del FOOTER  -->
        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
          var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
              delay: 3500,
              disableOnInteraction: false,
            },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            navigation: {
              nextEl: ".swiper-button-next",
              prevEl: ".swiper-button-prev",
            },
          });
        </script>
  </body>

</html>