<!DOCTYPE html>
<html lang="en-es">

<%- include('../partials/head', {titleWeb: 'Modifica tus datos' }) %>

    <body>
        <!-- ------------ Comienzo del HEADER  -->
        <%- include('../partials/header') %>

            <!-- ------------ Fin del HEADER  -->
            <!-- ------------ Inicio del Formulario de registro  -->
            <div class="control-form">
                <h3>Modifica aca tus datos para mantenerlos actualizados</h3>
                <form id="formEditProfile" action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data">

                    <div class="data-form">
                        <label for="name">Nombre</label>
                        <input type="text" name="firstName" class="form-input"
                            value="<%= locals.userLogged.firstName %>" id="name">

                        <% if (locals.errors && errors.firstName) { %>
                            <div class="text-alert">
                                <%= errors.firstName.msg %>
                            </div>
                            <% } %>

                    </div>

                    <div class="data-form">
                        <label for="name">Apellido</label>
                        <input type="text" name="lastName" value="<%= locals.userLogged.lastName %>" class="form-input"
                            id="lastname">

                        <% if (locals.errors && errors.lastName) { %>
                            <div class="text-alert">
                                <%= errors.lastName.msg %>
                            </div>
                            <% } %>

                    </div>



                    <div class="data-form">
                        <label for="date" id="fecha-nacimiento">Fecha de nacimiento</label>
                        <div class="campo-texto" id="date">
                            <input type="date" name="birthdate" value="<%= locals.userLogged.birthdate %>"
                                class="form-input">
                            <% if (locals.errors && errors.birthdate) { %>
                                <div class="text-alert">
                                    <%= errors.birthdate.msg %>
                                </div>
                                <% } %>

                        </div>
                    </div>


                    <div class="data-form">
                        <label for="address"> Domicilio </label>
                        <input type="text" name="address" value="<%= locals.userLogged.address %>" class="form-input">

                        <% if (locals.errors && errors.address) { %>
                            <div class="text-alert">
                                <%= errors.address.msg %>
                            </div>
                            <% } %>

                    </div>

                    <div class="data-form">
                        <label>Tu interes actual es: <b><%= locals.userLogged.interest %></b>
                        </label>
           
                        <label for="interest">Tu nuevo interés puede ser:</label>
                        <select name='interest' id="interest">
                            <option value="">Selecciona una opción</option>
                            <option value="Cine">Cine</option>
                            <option value="Música">Música</option>
                            <option value="Naturaleza">Naturaleza</option>
                            <option value="Arte">Arte</option>
                            <option value="Deportes">Deportes</option>
                        </select>

                        <% if (locals.errors && errors.interest) { %>
                            <div class="text-alert">
                                <%= errors.interest.msg %>
                            </div>
                            <% } %>

                    </div>

                    <div class="data-form">
                        <label for="avatar">Elige tu foto de perfil</label>
                        <input type="file" class="avatar" name="avatar" value="avatar" id="avatar">

                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-alert">
                                <%= errors.avatar.msg %>
                            </div>
                            <% } %>

                    </div>

                    </br>


                    <div class="dataSend">
                        <button type="submit" class="button-form">Guardar cambios</button>
                        <button type="reset" class="button-form">Reiniciar</button>
                    </div>

                </form>

            </div>


            <!-- ------------ Final del Formulario de registro  -->

            <div class="banner-divisor">
                <div class="logo-insta">
                    <i class="fa-brands fa-instagram"></i>
                </div>

                <div class="mensaje">
                    <p>buscanos en instagram</p>
                    <h4>@higge_11</h4>
                </div>

            </div>


            <!-- ------------ comienzo del FOOTER  -->
            <%- include('../partials/footer') %>

                <!-- ------------ Fin del FOOTER  -->


    </body>

</html>