<!DOCTYPE html>
<html lang="en-es">

<%- include('../partials/head', {titleWeb: 'Edita tu perfil' }) %>

    <body>

        <!-- ------------ Comienzo del HEADER  -->
        <%- include('../partials/header') %>
            <!-- ------------ fin del HEADER  -->

            <!-- comienzo Main editProfile -->
            <div class="form-container edit-profile-container">
                <h5>Actualice sus datos</h5>
                <div class="edit-profile">

                    <div class="user-data">
                        <form id="formEditProfile" action="/users/edit?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            <div>
                                <div class="flex-desktop">
                                    <div class="first-flex">
                                        <div class="form-class">
                                            <label for="firstName" class="form-label">Nombre:</label>
                                            <br>
                                            <input type="text" name="firstName" class="form-input" value="<%= locals.userLogged.firstName %>" id="name">
                                        </div>
                                        <% if (locals.errorMessages && errorMessages.firstName) { %>
                                            <p class="error"> <%= errorMessages.firstName.msg %> </p>
                                        <% } %>
                                  
                                        <div class="form-class">
                                            <button type="submit" class="submitButton">Guardar cambios</button>
        
                                        </div>
                                    </div>
                                </div>       
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <!-- fin del Main editProfile -->

            <!-- ------------ comienzo del FOOTER  -->
            <%- include('../partials/footer') %>

                <!-- ------------ Fin del FOOTER  -->

    </body>

</html>