<!DOCTYPE html>
<html lang="en-es">

<%- include('../partials/head', {titleWeb: 'Mi cuenta' }) %>

	<body>
		<!-- ------------ Comienzo del HEADER  -->
		<%- include('../partials/header') %>
			<!-- ------------ fin del HEADER  -->

			<!-- ------------ Comienzo del MAIN  -->

			<div class="container-user-information">
				<div class="first-container">
					<div class="user-greeting">
						<h2>Hola <%= user.firstName %>!</h2>
					</div>

					<div class="avatar-user">
						<img src="/images/users/<%= user.avatar %>" alt="imagen de usuario" />
					</div>

				</div>


				<div class="user-information">
					<h3>tus datos personales</h3>
					<p>Modifica tus datos personales a continuación para que tu cuenta esté siempre actualizada </p>
				</div>

				<div class="user-details">
					<h3>detalles</h3>
					<ul>
						<li>
							<%= user.firstName %>
								<%= user.lastName %>
						</li>
						<li>
							<%= user.birthdate %>
						</li>
						<li>
							<ul>Tus intereses:
								<li>
									<%= user.interest %>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="user-data-access">
					<h3>correo electrónico</h3>
				<p><%= user.email %></p>
				</div>

				<div class="user-password">
					<!-- ver como hacer para que muestre puntos en lugar del password encryptado-->
					<h3>Contraseña</h3>
					<p>············</p>
				</div>

				<div class="user-setting-account">

					<h3>gestionar cuenta</h3>

					<div class="edit-profile">
						<a href="/users/edit">editar datos</a>
					</div>

					<div class="user-delete">
						<form class="delete-account" action="/users/delete" method="POST" enctype="multipart/form-data">
							<button>eliminar cuenta</button>
						</form>
					</div>
				</div>



			</div>

			<!-- //Container -->

			<!-- ------------ Fin del MAIN  -->

			<div class="banner-divisor">
				<div class="logo-insta">
					<i class="fa-brands fa-instagram"></i>
				</div>

				<div class="mensaje">
					<p>buscanos en instagram</p>
					<h4>@higge_11</h4>
				</div>
			</div>

			<!-- ------------ comienzo del FOOTER  -->
			<%- include('../partials/footer') %>

				<!-- ------------ Fin del FOOTER  -->
	</body>