<!DOCTYPE html>
<html lang="en-es">

<%- include('../partials/head', {titleWeb: 'Registrate' }) %>

  <body>
    <!-- ------------ Comienzo del HEADER  -->
    <%- include('../partials/header') %>

      <!-- ------------ Fin del HEADER  -->
      <!-- ------------ Inicio del Formulario de registro  -->
      <form class="registro" action="/users/register" method="POST" enctype="multipart/form-data">

        <div class="control-form">
          <label for="name">Nombre</label>
          <input type="text" name="firstName"
            class="firstName <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
            placeholder="Ingrese su nombre">

          <% if (locals.errors && errors.firstName) { %>
            <div class="text-alert">
              <%= errors.firstName.msg %>
            </div>
            <% } %>

        </div>

        <div class="control-form">
          <label for="name">Apellido</label>
          <input type="text" name="lastName"
            class="lastName <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
            placeholder="Ingrese su apellido">

          <% if (locals.errors && errors.lastName) { %>
            <div class="text-alert">
              <%= errors.lastName.msg %>
            </div>
            <% } %>

        </div>


        <div class="control-form">
          <label for="email">E-mail</label>
          <input type="email" name="email" class="email <%= locals.errors && errors.email ? 'is-invalid' : null %>"
            placeholder="Correo electrónico">

          <% if (locals.errors && errors.email) { %>
            <div class="text-alert">
              <%= errors.email.msg %>
            </div>
            <% } %>

        </div>


        <div class="control-form">
          <label for="date" id="fecha-nacimiento">Fecha de nacimiento</label>
          <div class="campo-texto" id="date">
            <input type="date" name="birthdate"
              class="birthdate <%= locals.errors && errors.birthdate ? 'is-invalid' : null %>" id="date">

            <% if (locals.errors && errors.birthdate) { %>
              <div class="text-alert">
                <%= errors.birthdate.msg %>
              </div>
              <% } %>

          </div>
        </div>


        <div class="control-form">
          <label for="address"> Domicilio </label>
          <input type="text" name="address" id="address"
            class="control <%= locals.errors && errors.address ? 'is-invalid' : null %>">

          <% if (locals.errors && errors.address) { %>
            <div class="text-alert">
              <%= errors.address.msg %>
            </div>
            <% } %>

        </div>

        <div class="control-form">
          <div class="interest <%= locals.errors && errors.interest ? 'is-invalid' : null %>">Categorías de interés
          </div>
          <label>Cine
            <input type="checkbox" name="interest" value="Cine"></label>
          <label>Música
            <input type="checkbox" name="interest" value="Música"></label>
          <label>Naturaleza
            <input type="checkbox" name="interest" value="Naturaleza"></label>
          <label>Arte
            <input type="checkbox" name="interest" value="Arte"></label>
          <label>Deportes
            <input type="checkbox" name="interest" value="Deportes"></label>

          <% if (locals.errors && errors.interest) { %>
            <div class="text-alert">
              <%= errors.interest.msg %>
            </div>
            <% } %>

        </div>

        <div class="control-form">
          <label for="avatar">Elige tu foto de perfil</label>
          <input type="file" name="avatar" class="avatar" <%=locals.errors && errors.avatar ? 'is-invalid' : null %>">

          <% if (locals.errors && errors.avatar) { %>
            <div class="text-alert">
              <%= errors.avatar.msg %>
            </div>
            <% } %>

        </div>
        <br>

        <div class="control-form">
          <label for="password">Contraseña</label>
          <input type="password" name="password"
            class="password <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Contraseña">

          <% if (locals.errors && errors.password) { %>
            <div class="text-alert">
              <%= errors.password.msg %>
            </div>
            <% } %>

        </div>

        <div class="control-form">
          <input type="radio" name="roleId" class="roleId" value="2" <% if (!locals.oldData || (locals.oldData &&
            (!oldData.roleId || oldData.roleId==="2" ))) { %>
          checked
          <% } %>
            > Cliente <br>
            <input type="radio" name="roleId" class="roleId" value="1" <% if (locals.oldData && oldData.roleId==="1" ) {
              %>
            checked
            <% } %>
              > Admin

              <% if (locals.errorMessages && errorMessages.roleId) { %>
                <div class="text-alert">
                  <%= errorMessages.roleId.msg %>
                </div>
                <% } %>
        </div>





        </br>


        <div class="control-form">
          <button type="submit" class="button-form">Enviar</button>
          <button type="reset" class="button-form">Reset</button>
        </div>

        <div class="has-account">
          <span>¿Ya tiene una cuenta?</span>
          <a class="has-account-link" href="/users/login">Inicie sesión</a>
        </div>



      </form>


      <!-- ------------ Final del Formulario de registro  -->

      <div class="banner-divisor">
        <div class="logo-insta">
          <i class="fa-brands fa-instagram"></i>
        </div>

        <div class="mensaje">
          <p>buscanos en instagram</p>
          <h4>@higge_11</h4>
        </div>

      </div>


      <!-- ------------ comienzo del FOOTER  -->
      <%- include('../partials/footer') %>

        <!-- ------------ Fin del FOOTER  -->


  </body>

</html>